<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CadastroFashionista</servlet-name>
        <servlet-class>Servlet.CadastroFashionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaFashionista</servlet-name>
        <servlet-class>Servlet.AtualizaFashionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaFashionista</servlet-name>
        <servlet-class>Servlet.CarregaFashionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFashionista</servlet-name>
        <servlet-class>Servlet.ListaFashionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaFashionista</servlet-name>
        <servlet-class>Servlet.DeletaFashionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesabilitarFashionista</servlet-name>
        <servlet-class>Servlet.DesabilitarFashionista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroFashionista</servlet-name>
        <url-pattern>/CadastroFashionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaFashionista</servlet-name>
        <url-pattern>/AtualizaFashionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaFashionista</servlet-name>
        <url-pattern>/CarregaFashionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaFashionista</servlet-name>
        <url-pattern>/DeletaFashionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFashionista</servlet-name>
        <url-pattern>/ListaFashionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesabilitarFashionista</servlet-name>
        <url-pattern>/DesabilitarFashionista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PaginaInicial.jsp</welcome-file>
    </welcome-file-list>
</web-app>
