.botao6{
    background-image: url('dress.png');
    height: 50%;
    width: 50%;
    margin-left: 80%
    
    
}
bogy{
    background: #003;
}


#botaovestido {
    background-image: url('dress.png');    
}