body{
    background: url("https://s-media-cache-ak0.pinimg.com/236x/a9/fd/94/a9fd948d56b9e1ca7dfdcb0e9cbd0958.jpg");

}

#closet{
     height: 1000px;   
}

#colunas 
{
   height:450px;
   width: 200px;
   display: inline-block;
   float: top;
   margin-top: 15%;
   margin-left: 5%;
}

#colunas ul li
{
   display: inline-block;
   padding: 8px;
   border: #CC6666 solid 5px;
   width: 150px;
   margin-bottom: 10px;
   background-color: #993333;
}

#colunas ul li p
{
  margin-bottom: 10px;
  color: white;
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  text-align:center;
}

#colunas ul li p:hover
{
  background-color: #CC6666;
 
}
#colunas ul li a:active
{
  background-color: #ff8f00; 
  
}

#roupas{
    background-color: #CC6666;
    height:100%;
    width: 73%;
    float: right;
    margin-top: 15%;
    margin-right: 5%;
}
    
