.botao{
    background: url('dress.png');
    height: 90%;
    width: 80%;
    margin-left: 100%;
}
body{
    background: #003;
    height: 90%;
}

input {
    background-color: #FFF;
    border: 0px solid #e4e4e4;
    letter-spacing: 1px;
    font-size: 11px;
    color: #333;
    height: 130px;
    vertical-align: middle;
 }

.realupload {
    position: relative;
    width: 130px;
    float: right;
    top: -134px;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity:0);

}

#fakeupload0 {
    background: url("images/dress.png") no-repeat 99% 51%;   
}

#fakeupload1 {
    background: url("images/skirt.png") no-repeat 99% 51%;              
}

#fakeupload2 {
    background: url("images/shirt.png") no-repeat 99% 51%;
}

#fakeupload3 {
    background: url("images/short.png") no-repeat 99% 51%;
}

#fakeupload4 {
    background: url("images/shoe.png") no-repeat 99% 51%;
}

#fakeupload5 {
    background: url("images/trousers.png") no-repeat 99% 51%;
}

#fakeupload6 {
    background: url("images/coat.png") no-repeat 99% 51%;
}

#fakeupload7 {
    background: url("images/sunglasses.png") no-repeat 99% 51%;
}

#fakeupload8 {
    background: url("images/tuxedo.png") no-repeat 99% 51%;
}

.fakeupload{
    width: 100%;
    cursor: default;   
}

.caixaupload{
    float: left;
}

#bota{
    margin-top: 5%;
    margin-left: 87%;
}

#cadastrol{
    margin-left: 4%;
}

#bo{
    margin-top: 4%;
    margin-left: 20%;
    font-size: 30px;
    
    
}