.botao{
    background: url('dress.png');
    height: 90%;
    width: 80%;
    margin-left: 100%;
}
body{
    background: #003;
    height: 90%;
}

input {
    background-color: #FFF;
    border: 0px solid #e4e4e4;
    letter-spacing: 1px;
    font-size: 11px;
    color: #333;
    height: 130px;
    vertical-align: middle;
 }

.realupload {
    position: relative;
    width: 130px;
    float: right;
    top: -134px;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity:0);

}

#fakeupload0 {
    background: url("images/dress.png") no-repeat 99% 51%;   
}

#fakeupload1 {
    background: url("images/skirt.png") no-repeat 99% 51%;              
}

#fakeupload2 {
    background: url("images/shirt.png") no-repeat 99% 51%;
}

#fakeupload3 {
    background: url("images/short.png") no-repeat 99% 51%;
}

#fakeupload4 {
    background: url("images/shoe.png") no-repeat 99% 51%;
}

#fakeupload5 {
    background: url("images/trousers.png") no-repeat 99% 51%;
}

#fakeupload6 {
    background: url("images/coat.png") no-repeat 99% 51%;
}

#fakeupload7 {
    background: url("images/sunglasses.png") no-repeat 99% 51%;
}

#fakeupload8 {
    background: url("images/tuxedo.png") no-repeat 99% 51%;
}

.fakeupload{
    width: 100%;
    cursor: default;   
}

.caixaupload{
    float: left;
}

#bota{
    margin-top: 5%;
    margin-left: 87%;
}

#cadastrol{
    margin-left: 4%;
}

#bo{
    margin-top: 4%;
    margin-left: 20%;
    font-size: 30px; 
}

/* Testando Modal*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 140px; /* Muda a disposição do modal */
    left: 20%; /*disposição para a direita*/
    top: 5%; /*Muda a disposição central do modal - centro da página*/
    width: 60%; /* Muda a largura do modal */
    height: 100%; /* Muda a altura do modal */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /*rgba(0,0,0,0.4); /* Preto opaco */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe; /*Cor do Fundo*/
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #B22222; /*Muda a cor da parte de cima*/
    color: white;
    text-align: center;
}

.modal-body table {
    padding: 2px 14px;
    width: 50%;
    margin-left:3%;
    line-heigth: 100px;
    font: inherit;
    
}

.modal-footer {
    padding: 2px 16px;
    background-color: #B22222; /*Muda a cor da parte de baixo */
    color: #B22222;
}

/*table{
    width: 50%;
    margin-left:3%;
    font: inherit;
 
    
}
tr {
   heigth: 10%;
   line-height: 1.5;
}
*/
#boto
{      display: block;
       height: 40px;
       margin-left: 0.2em;
       padding: 0.10em 0.9em;
       letter-spacing: 0.10em;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 0.90em;
       outline: 0;
       color: #FFF;
       background: #B22222;
       border-radius: 25px;
}