html,body {
	width: 100%;
	height: 100%;
	font-family: arial, helvetica, sans-serif;
	font-size: 9pt;
}

#nav{
    position: absolute;
    right: 0em;
    top: 1em;
}

#nav > ul > li{
    float: left;
}

#nav > ul > li:last-child{
    padding-right: 0;
}

#nav > ul > li > a,
#nav > ul > li > span{
    display: block;
    margin-left: 0.7em;
    padding: 0.50em 1.2em;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.90em;
    outline: 0;
    color: #FFF;
    font-size: 11pt;
    font: inherit;
     margin-top: 5%;
    
}

#nav li.active a{
    background: #6e090b;
    border-radius: 25px;
    color: #FFF;
}

#nav > ul > li > ul{
    display: none;
}

#botao3{
    font-family: FontAwesome;
    margin-left:70%;
    margin-top:1%;
}
#caixaTexto{
    width:100%;
}
#tabelaForm tr td{
    width:100%;
}
 #config4
{
        background-color: #FCC;
        height: 100%;
        width: 80%;
        margin-left: 10%;
        position: relative; 
        color: #003;      
}
table{
    
      height: 100%;
      width: 50%;
      margin-left:3%;
      font: inherit;
 }
 h3{
    
    margin-top: 9%;
    font-size: 150%;
    
 }
 #botao5{
    font-family: FontAwesome;
    margin-left:28%;
    top: 90%;
   
  
}

#botao6{
    margin-top: 10px;
}
#botao4{
    font-family: FontAwesome;
    margin-left:2%;
    margin-top:0%;
    color: white;
    font-size: 150%;
    background-color: #003;
}

p{
    
    font-family: FontAwesome;
    margin-left:20%;
    left: 100%;
    font-size: 200%;
    padding-top: 23%;
 
}
#pop{
    
    padding-top: 7%;
    margin-left:70%;
}
#poo{
    background-image: url(dress.png);
}
 