body{
    background: #FFCCCC;
}

#closet{
    height:550px;
    width: 90%;
    margin-top: 5%;
    border: solid 5px #840002;
    margin-left: 4.6%;
}

#boneco2{
    height: 100%;
    width: 100%;
}

#boneco2 h2{
    color: #CC6666;
    font-size: 30px;
    padding-top: 70px;
    padding-left: 20px;
}

#porta1{
    height:100%;
    width:200px; 
    background: white;
}

#porta2{
    height:100%;
    width:200px; 
    background: white;
    position:relative;
    float: right;
    top:-540px;
}

#porta3{
    right: -200px;
    top:-540px;
}

#porta4{
    float:right;
    margin-right:200px;
    top:-1080px;
}

.porta{
    
    height:100%;
    width:30%;
    background: #840002;
    position:relative;
    transition: 0.8s ease-in;
}

#colunas 
{
   margin-top: 80%;
   display: inline-block;
   float: top;
}
#colunas ul li
{
   display: inline-block;
   padding: 8px;
   border: #840002 solid 5px;
   width: 150px;
   height: 70px;
   margin-bottom: 10px;
   background-color: white;
   margin-left: 12%;
}

#porta3 img{
    float:right;
    margin-top: 75%;
    margin-right: 4%;
}

#porta4 img{
    float:left;
    margin-top: 75%;
    margin-left: 4%;
}

#colunas ul li img{
    padding-left: 20px;
    margin-top: 2%;
}